.FormGroup {
  align-content: center;
  align-items: center;
  background-color: #463f3a;
  border-radius: 30px 30px;
  display: flex;
  flex-flow: column wrap;
  height: 30%;
  justify-content: center;
  width: 80%;
}

.FormGroup input {
  height: 40%;
  text-align: center;
  width: 80%;
}

.FormGroup p {
  font-size: 20%;
  text-align: center;
}
